morph:
  rpc_endpoint:
{% for endpoint in neofs_storage__morph_rpc %}
    - {{ endpoint }}
{% endfor %}

  notification_endpoint:
{% for endpoint in neofs_storage__morph_notification %}
    - {{ endpoint }}
{% endfor %}
  dial_timeout: 20s

node:
  wallet:
    path: {{ neofs_storage__wallet_path }}
    address: {{ neofs_storage__wallet_addr }}
    password: {{ neofs_storage__wallet_passwd }}
  addresses:
{% for a in neofs_storage__announce_address %}
    - {{ a }}
{% endfor %}
{% for attr in neofs_storage__attributes %}
  attribute_{{ loop.index - 1 }}: {{ attr }}:{{ neofs_storage__attributes[attr] }}
{% endfor %}
  relay: {{ neofs_storage__relay }}
  subnet:
    exit_zero: {{ neofs_storage__subnet_exit_zero }}
{% if neofs_storage__subnet_entries|length %}
    entries: 
{% for a in neofs_storage__subnet_entries %}
    - {{ a }}
{% endfor %}
{% else %}
    entries: []
{% endif %}

grpc:
  num: {{ '2' if neofs_storage__tls_enabled else '1' }}
  0:
    endpoint: {{ neofs_storage__grpc_address }}:{{ neofs_storage__grpc_port }}
    tls:
      enabled: false
{% if neofs_storage__tls_enabled %}
  1:
    endpoint: {{ neofs_storage__tls_endpoint }}
    tls:
      enabled: true
      certificate: {{ neofs_storage__tls_cert }}
      key: {{ neofs_storage__tls_key }}
{% endif %}

{% if neofs_storage__control_enabled %}
control:
  authorized_keys:
{% for authorized_key in neofs_storage__control_authorized_keys %}
    - {{ authorized_key }}
{% endfor %}
  grpc:
    endpoint: {{ neofs_storage__control_endpoint }}
{% endif %}

contracts:
{% for contract in neofs_storage__contracts %}
  {{ contract }}: {{ neofs_storage__contracts[contract] }}
{% endfor %}

logger:
  level: {{ neofs_storage__loglevel }}

metrics:
  address: {{ neofs_storage__prometheus_address }}:{{ neofs_storage__prometheus_port }}

profiler:
  address: {{ neofs_storage__pprof_address }}:{{ neofs_storage__pprof_port }}

storage:
  shard_num: {{ neofs_storage__shards|length }}
  shard:
{% for shard in neofs_storage__shards %}
    {{ loop.index - 1 }}:
      use_write_cache: {{ shard['write_cache']['enabled'] }}
{% if shard['write_cache']['enabled'] %}
      writecache:
        path: {{ shard['write_cache']['path'] }}
        memcache_capacity: {{ shard['write_cache']['memcache_capacity'] }}
        small_size: {{ shard['write_cache']['small_size'] }}
        max_object_size: {{ shard['write_cache']['max_object_size'] }}
        workers_number: {{ shard['write_cache']['workers_number'] }}
        capacity: {{ shard['write_cache']['capacity'] }}
{% endif %}
      metabase:
        path: {{ shard['metabase']['path'] }}
        perm: {{ shard['metabase']['perm'] }}
      blobstor:
        path: {{ shard['blobstor']['path'] }}
        perm: {{ shard['blobstor']['perm'] }}
        compress: {{ shard['blobstor']['compress'] }}
        depth: {{ shard['blobstor']['depth'] }}
        small_object_size: {{ shard['blobstor']['small_object_size'] }}
        blobovnicza:
          size: {{ shard['blobovnicza']['size'] }}
          depth: {{ shard['blobovnicza']['depth'] }}
          width: {{ shard['blobovnicza']['width'] }}
          opened_cache_capacity: {{ shard['blobovnicza']['opened_cache_capacity'] }}
      gc:
        remover_batch_size: {{ shard['gc']['remover_batch_size'] }}
        remover_sleep_interval: {{ shard['gc']['remover_sleep_interval'] }}
{% endfor %}

object:
  put:
    pool_size_remote: {{ neofs_storage__put_pool_remote }}
    pool_size_local: {{ neofs_storage__put_pool_local }}
