{{ ansible_managed | comment }}

[Unit]
Description=NeoFS Storage{{ neofs_storage__instance }} node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neofs_storage__bin_path }} --config {{ neofs_storage__config_path }}
User={{ neofs_storage__user }}
Group={{ neofs_storage__group }}
WorkingDirectory={{ neofs_storage__data_dir }}
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
